.thisTable {
    border: 1px solid #ccc;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border-collapse: collapse;
    background-color: beige;
    border-radius: 10%;
    overflow: hidden;
    z-index: 0;
}


.thisTable::before{
    content: '';
    background-image: conic-gradient(transparent,orange,transparent 30%);
    animation: rotate 1s linear infinite;
    z-index: -2;
    position: absolute;
    width: 200%;
    height: 200%;
    left: -50%;
    top: -50%;
}

.thisTable::after{
    content: '';
    position: absolute;
    z-index: -1;
    inset: 5px;
    background: beige;
    border-radius: 10%;
}

.ui-loader-default{ display:none}
.ui-mobile-viewport{ border:none;}
.ui-page {padding: 0; margin: 0; outline: 0}

@keyframes rotate {
    100%{
        transform: rotate(360deg);
    }
}

#gameName{
    font-size: 30px;
    color: beige;
}

#author{
    font-size: 10px;
}

.thisTable td{
    height: 70px;
    width: 120px;
    border: 1px solid #ccc;
    text-align: center;
    font-size: 50px;
}

#actionType {
    top: 3%;
    padding-top: 15px;
    padding-bottom: 10px;
}

#score {
    top: 10%;
    font-size: larger;
    padding-bottom: 15px;
}

hr {
    margin-bottom: 15px;
}

#tableNumber {
    top: 25%;
    margin-bottom: 30px;
}


body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: url(../photos/wallhaven-2yk58y.png);
    background-size: contain;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

#leftTableList {
    text-align: center;
    background-color: rgb(213, 154, 154);
    border-radius: 20px;
    position: absolute;
    width: 300px;
    left: 15%;
    top: 20%;
    transform: translate(-50%, -50%);
}
#gameTable{
    height: 100%;
    width: 100%;
    opacity: 0.9;
    position: absolute;
}